*{
    font-size: 16px;
}
body{
    background: linear-gradient(135deg, rgba(16,49,219,1) 0%, rgba(227,249,240,1) 74%, rgba(255,250,16,1) 100%);
    margin-bottom: 10%;
}
img{
    max-width: 25%;
    height: auto;
}
.custom-header{
    background: linear-gradient(90deg, rgba(16,49,219,1) 60%, rgba(227,249,240,1) 100%);
}
h1{
    margin-right: 30%;
}
.toggle-menu{
    width: 100%;
    justify-content: center;
}
.switch{
    position: relative;
    width: 60px;
    height: 35px;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
    width: 60px;
}
.switch input {
    display: none;
}
.slider:before{
    position: absolute;
    content: '';
    height: 25px;
    width: 25px;
    left: 5px;
    bottom: 5px;
    background-color: #fffffe;
    transition: 0.4s;
    border-radius: 50px;
}
input:checked + .slider{
    background-color: #007bff;
}
input:checked + .slider:before{
transform: translateX(25px);
}
.custom-text{
    font-size: 1.3rem;
    font-weight: 500;
}
.custom-card{
    width: 20%;
    padding: 10px;
}
